<div class="custom-dialog">
    <div class="dialog-title">
        <h2 class="title">
            {{ data.title }}
        </h2>
    </div>
    <div class="dialog-content">
        <form [formGroup]="data.formGroup">
            <div class="row mb-3" *ngFor="let field of data.fields">
                <div *ngIf="field.isClass == false">
                    <label for="inputText" class="col-sm-12 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-12">
                        <input type="{{ field.type }}" class="form-control" formControlName="{{ field.name }}">
                    </div>
                </div>
                <div *ngIf="field.isClass == true">
                    <label class="col-sm-12 col-form-label">{{ field.label }}</label>
                    <select class="form-select" formControlName="{{ field.name }}">
                        <option *ngFor="let option of field.options" [ngValue]="option.id">{{ option.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10"></div>
                <div class="toolbar">
                    <button class="btn-wizard btn-danger" type="button" (click)="cancel()">Cancel</button>
                    <button class="btn-wizard btn-primary" type="submit" (click)="save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>