<aside id="sidebar" class="sidebar" *ngIf="isLogged">
    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#equipment-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Equipment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="equipment-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li *ngFor="let equipmentMenu of equipmentMenus">
            <a routerLink="{{ equipmentMenu.routerPath }}">
              <i class="bi bi-circle"></i><span>{{ equipmentMenu.name }}</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#podcast-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Podcast</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="podcast-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li *ngFor="let podcastMenu of podcastMenus">
            <a routerLink="{{ podcastMenu.routerPath }}">
              <i class="bi bi-circle"></i><span>{{ podcastMenu.name }}</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#printers-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>3D Printers</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="printers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li *ngFor="let printersMenu of printersMenus">
            <a routerLink="{{ printersMenu.routerPath }}">
              <i class="bi bi-circle"></i><span>{{ printersMenu.name }}</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#dev-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Dev</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="dev-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li *ngFor="let devMenu of devMenus">
            <a routerLink="{{ devMenu.routerPath }}">
              <i class="bi bi-circle"></i><span>{{ devMenu.name }}</span>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/user">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

    </ul>

  </aside>