<app-main-menu></app-main-menu>
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Name from database</h5>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="row mb-3" *ngFor="let field of fields">
                <div *ngIf="field.isClass == false">
                  <label for="inputText" class="col-sm-12 col-form-label">{{ field.label }}</label>
                  <div class="col-sm-12">
                    <input type="{{ field.type }}" class="form-control" formControlName="{{ field.name }}">
                  </div>
                </div>
                <div *ngIf="field.isClass == true">
                  <label class="col-sm-12 col-form-label">{{ field.label }}</label>
                  <select class="form-select" formControlName="{{ field.name }}">
                      <option *ngFor="let option of field.options" [ngValue]="option.id">{{ option.name }}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-danger me-2" (click)="cancel()">Cancel</button>
                  <button class="btn btn-success" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-action-bar></app-action-bar>
